.navbar{
    background-color: black;
    color:#fff
    position:fixed;
    top:0;
    left:0;
    display: flex;
    align-items:center;
    justify-content:space-between;

}



.navbar__logobox{
    height: 6rem;
    width: 20rem;
    display: flex;
    align-items: center;
}

.navbar .logo__text{
    font-size: 2rem;
    color:#fff
}

.navbar__logo{
    height: 100%;
    width: 40%;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

.navbar__input{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 50px;
    outline: none;
    border:1px solid black;
    width: 60rem;
}

.navbar__list{
    list-style: none;
    display: flex;
    color:#eee;
    margin-right: 3rem;
}

.navbar__items{
    margin: 0 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    user-select: none;
   cursor: pointer;
   transition: all .2s ease;
}

.navbar__items:hover{
transform: translateY(-3px);
}

body{
    background-color: #eee;
    overflow-x: hidden;
}

.footer{
    background-color: black;
    color:white;
    padding: 1rem 0.5rem;
    width: 100%;
}


.footer__navigation{
    display: flex;
    height: 100%;
    align-items: center;
}

.footer__list{
   
   list-style: none;
   align-items: center;
}

.footer__item{
    display: inline-block;
    margin: 0 1rem;
}

.footer__link{
    text-decoration: none;
    color:white;
    font-size: 1.4rem;
}

.footer__link:hover{
    text-decoration: none;
    color:green;
}

.footer__cpy
{
   height: 100%;
   display: flex;
   justify-content: flex-end;
   margin-right: 2rem;
   align-items: center;
}

.footer__copyright{
    text-align: left;
}
.main{
    background-color: white;
    padding: 2rem 1rem;
}

.card{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.623);
}

.row:not(:last-child){
    margin-bottom: 3rem;
}

.card-img-box{
    height: 30rem;
}

.card-img-top{
    height: 100%;
    width: 100%;
}

.card-text{
    height: 5rem;
    overflow: scroll;
}

.card-text::-webkit-scrollbar{
    display: none;
}

.hero__banner{
    height: 200vh;
}


/* *****************************************************hero******************************************/
.hero_poster{
    height: 100vh;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/poster.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  

  .btn-poster{
      font-size: 2rem;
      border-radius: 50px;
      padding: 0.5rem 3rem;
  }



html::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 0px;
     background-color: #F5F5F5;
 }
 
html::-webkit-scrollbar
 {
     width: 12px;
     background-color: #F5F5F5;
 }
 
 html::-webkit-scrollbar-thumb
 {
     border-radius: 0px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: black;
 }
 
